*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}



.colnav .btn:hover{
  text-decoration: none;
  color: white;
}


/*------------------------------------------about us--------------------------------*/
.on-us p{
  font-size: 1.4rem;
}
.on-us h2{
  font-size: 3.2rem;
  color: darkgreen;
}




/*------------------------------------------strenth the program-------------*/
.con-in2{
    padding: 100px 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .image-stack::after {
    content: ' ';
    display: table;
    clear: both;
  }
  
  .image-stack__item--top {
      float: left;
      width: 66%;
      margin-right: -100%;
      padding-top: 88%;
      position: relative;
      z-index: 1;
  }
  
  .image-stack__item--bottom {
      float: right;
      width: 75%;
      padding-top: 30%;
  }
  
  .con-in2 img {
    width: 100%;
    transition: transform .4s;
  }

  .con-in2 img:hover{
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
  #in2 p{
    text-align: justify;
    font-size: 1.4rem;
  }
  #in2 h1{
    text-align: center;
  }


  .together{
    background-color: #004658;
    color: white;
  }

  .together p{
    font-size: 1.4rem;
    text-align: justify;
  }

  .endhung a{
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    font-size: 1.4rem;
  }
  .endhung a:hover{
    color: white;
  }



  /*-----------------------------------------------------------------statistic--------------------------------------------------------------*/
  .statistics .taba{
    background-image: url(image/backg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 50%;
  }
  .statistics{
    background-image: url(image/backg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*---------------------------------------------------------------------------small act--------------------------------------------------------------*/

  /* .smallact {
    background-image: url(image/backg.png);
    background-repeat: no-repeat;
    background-size: cover;
  } */
  


/*-------------------------------------------------------------------------------Testimonial----------------------------------------------------------------*/
.seclast-slide p{
  font-size: 1.4rem;
}



/*------------------------------------------------------------------newsletter--------------------------------------------------------------------*/
  
.newsletter{
	width: 100%;
	height: auto;
	margin: 80px auto;
}
.news-input{
	border-radius: 100px 0px 0px 100px!important;
	min-width: 150px;
	min-height: 45px;
}
.input-group-text{
	color: #fff!important;
	background: #5bc0de!important;
	border-radius: 0 100px 100px 0!important;
	min-width: 150px;
	min-height: 45px;
}






/*-----------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------FOOTER-------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.pg-footer a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}


.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

#menu-get-started ul li a:hover {
  opacity: .9;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
#menu-get-started ul li a[href*='facebook'] {
  background: #3b5998;
}
#menu-get-started ul li a[href*='instagram'] {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
}
#menu-get-started ul li a[href*='youtube'] {
  background: #c4302b;
}
#menu-get-started ul li a[href*='linkedin'] {
  background: #0077B5;
}
#menu-get-started ul li a[href*='twitter'] {
  background: #00acee;
}


/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}








/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------OUR REACH-------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------OR1-----------------------------------------------------------------------------------------------*/
.or1 h1{
  font-size: 3.5rem;
}

.or1 p{
  font-size: 1.4rem;
}

/*-------------------------------------------------------------OR2-----------------------------------------------------*/
.or2 .value{
  font-size: 1.6rem;
  font-weight: bolder;
  color: #004658;
 
  text-align: center;
}
.or2 .or2col p{
  font-size: 1.2rem;
  text-align: center;

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------BECOME A VOLUNTEER-------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------sec-one-----------------------------------------------------------------*/
.bav1 p{
  font-size: 1.4rem;
}

/*------------------------------------------------------------------------------------sec-two---------------------------*/
.bav2col{
  background-color: #609966;
  padding: 30px;
  border-radius: 0 15% ;
}






/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------WHAT WE DO-------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------gallery slide---------------------------------------------*/


.galcar {
width: 100%;
padding-top: 20px;

}

.galsb {
display: flex;
justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
.galsb img {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
.galsb img {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
}

@media (min-width: 992px)
{
.galsb img {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
}

.gal .carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
border-radius: .5rem;
}


/*-----------------------------------------------------NUTRI----------------------------------------------------------*/
.nutri h1{
  font-size: 3.5rem;
  color: #fffff2;
  font-weight: bolder;
}
.nutri h2{
  font-size: 2.5rem;
  color: white;
}
.nutri-col h4{font-size: 2.0rem;}
.nutri-col p{
  font-size: 1.4rem;
  text-align: justify;
}
.nutri {
  background-image: url(image/backg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.nutri-col{
  color: white;
}
.nutri-col i{
  font-size: 3.0rem;
}


/*------------------------------------------------------------WASH-------------------------------------------------------*/
.wash h1{
  font-size: 3.5rem;
  color: #004658;
  font-weight: bolder;
}
.wash h3{
  font-size: 2.4rem;
}
.wash p{
  font-size: 1.4rem;
  text-align: justify;
}

/*------------------------------------------------------------FSL-------------------------------------------------------*/
.fsl h1{
  font-size: 3.5rem;
  color: #004658;
  font-weight: bolder;
}
.fsl h3{
  font-size: 2.4rem;
}
.fsl p{
  font-size: 1.4rem;
  text-align: justify;
}

/*------------------------------------------------------------advocacy------------------------------------------------------*/
.advocacy h1{
  font-size: 3.5rem;
  color: white;
  font-weight: bolder;
}
.advocacy p{
  font-size: 1.4rem;
  text-align: justify;
  color: white;
}
.advocacy{
  background-image: url(image/backg5.png);
  background-repeat: no-repeat;
  background-size: cover;
}






/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*  scroll css section here*/
